#chile-flag{
    width: 20px;
    height: 20px;
}


.profile-description p:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
}


.social-media-icon{
    width: 24px;    
}

.profile-picture{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 112px;
    height: 112px;
}
#cards-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-me div img{
    width: 200px;
    height: 200px;
}