*{
    font-family: "onest";
    color: rgb(204, 213, 226);
    font-weight: 500px;
}



h2, h3, h4{
    padding-block: 5px;
}

h2{
    padding-block: 20px;
}

#chile-flag{
    width: 20px;
    height: 20px;
}


.profile-description p:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
}


.social-media-icon{
    width: 24px;    
}

.profile-picture{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 130px;
    height: 130px;
}
#cards-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-me img{
    width: 300px;
    transform: rotate(3deg);
}

#cards-section div div div img{
    height: 100%;
}


footer{
    display: flex;
    padding-top: 20px;
    background-color: #01031A ;
}
